<apex:page controller="PriceBookEditorController">

  <apex:form >
    <apex:pageBlock title="Edit Pricebook Items" mode="edit">

      <apex:outputPanel styleClass="rules">

 <apex:image url="{!URLFOR($Resource.testzip,
                  'rr.jpg')}" width="320" height="200"/>

     <apex:pageBlock title="Select Brand">
        <apex:selectList value="{!countries}" multiselect="false" size="5">
            <apex:selectOptions value="{!items}"/>
        </apex:selectList>
	</apex:pageBlock>


        </apex:outputPanel>
    </apex:pageBlock>
  </apex:form>






    <apex:pageMessages ></apex:pageMessages>





        <apex:pageBlock title="View of all Pricebook Items" mode="edit">



                <table border = "1" cellpadding = "5" cellspacing = "5">
                    <tr>
                        <th>Category</th>
                        <th>PriceBook</th>
                        <th>Name</th>
                        <th>Price in Euro</th>
                    </tr>
                    <apex:repeat value="{!entryList}" var="record">
                    <tr>
                        <td>{! record.Product_Cat__c }</td>
                        <td>{! record.Pricebook2.name }</td>
                        <td>{! record.Product_Descr__c }</td>
                        <td>{! record.unitPrice }</td>
                    </tr>
            </apex:repeat>
                    </table>
                <br/>

    </apex:pageBlock>

<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
}
</style>








</apex:page>